.heroSection {
    position: relative;
    background-image: url('/images/tree.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-axis: -1;
    /* Add any additional styles you need */
  }
  