.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0px;
}

.featureContainer {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.feature1Container {
  width: 50%; /* Takes up 50% width on large screens */
  position: relative;
}

.feature2Container {
  width: 100%; /* Takes up 50% width on large screens */
  position: relative;
  margin-top: 0vh; /* Move Feature2 down by half the viewport height */
}

@media screen and (max-width: 768px) {
  .feature1Container,
  .feature2Container {
    width: 100%; /* Takes up 100% width on mobile */
    position: static;
    margin-top: 0;
  }
}
