.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.logo {
  max-width: 250px; /* Adjust the width as per your logo's dimensions */
}


.content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 60%;
}

.content p {
  color: white;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.link {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  
}

.link a {
  text-decoration: none;
}

.link a:hover,
.link a:focus,
.link a:active {
  text-decoration: none;
}

.typing {
  overflow: hidden;
  border-right: 0.15em solid #000; /* Adjust the border color and width */
  white-space: normal;
  letter-spacing: 0.15em; /* Adjust the letter spacing */
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000; /* Adjust the caret color */
  }
}
