.feature2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    background-color: transparent;
  }
  
  .feature2 h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #bfa97a;
    text-align: center;
  }
  
  .feature2 p {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
    color: #365e1a;
  }
  