/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #111113;
    color: #333333;
  }
  
  
/* Main Content */
main {
    background-color: #111111;
    position: relative;
    overflow: hidden;
  }
  