/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    color: #333333;
  }
  
  
/* Main Content */
main {
    background-color: #181212;
    position: relative;
    overflow: hidden;
  }
  