/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    color: #333333;
  }
  
  /* Header */
  header {
    background-color: #181312;
    color: #bba97a;
    text-align: center;
    padding: 0.1rem;
  }
  
  header h1 {
    font-family: 'Bungee Inline', cursive;
    font-size: 4rem;
    margin-bottom: 0.1rem;
  }
  
  header nav {
    display: flex;
    justify-content: center;
  }
  
  header ul {
    display: flex;
  }
  
  header li {
    margin: 0 1rem;
  }
  
  header a {
    color: #bba97a;
    text-decoration: none;
    font-family: 'Bungee Inline', cursive;
    font-size: 1.2rem;
  }
  
  header a:hover {
    color: #4a5a3f;
  }
  
  /* Main Content */
  main {
    background-color: #181212;
    position: relative;
    overflow: hidden;
  }
  
  .textbox {
    font-family: 'Bungee Inline', cursive;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    background: #bba97a;
    box-shadow: -10px -10px 10px rgba(245, 245, 245, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.2);
    top: calc(100% - 50px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 1;
    animation: fadeout 5s linear reverse;
    max-height: calc(100% - 150px);
    top: 0;
    position: absolute;
  
  }
  
  .textbox h2 {
    font-size: 2rem;
    color: #2b3a27;
    margin-bottom: 1rem;
  }
  
  .textbox p {
    font-family: 'Bungee Inline', cursive;
    color: #2b3a27;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }
  
  @keyframes fadeout {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    80% {
      opacity: 1;
      transform: translate(-50%, -150%);
    }
    100% {
      opacity: 0;
      transform: translate(-50%, -150%);
    }
  }
  
  .hero {
    position: relative;
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  /* Features */
  .features {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5rem; /* Added grid-gap property */
    justify-items: center;
    align-items: flex-start;
    position: relative;
    top: -250px;
    margin-bottom: -15rem;
  }
  
  .feature1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  // features2.module.css
  .feature2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  // features3.module.css
  .feature3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .feature1 h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #365e1a;
    text-align: center;
  }
  
  .feature2 h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #bfa97a;
    text-align: center;
  }
  
  .feature1 p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    color: #bfa97a;
  }
  
  .feature2 p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    color: #365e1a;
  }
  
  /* Footer */
  footer {
    background-color: #3c2318;
    color: #bba97a;
    padding: 40px 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-info h3,
  .social-media h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin: 0;
    font-size: 1.1em;
  }
  
  .social-media-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-media-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  
  .social-media-icons a:hover {
    color: #ddd;
  }
  
  .social-media-icons i {
    transition: color 0.3s ease-in-out;
  }
  
  .fa-facebook {
    color: #3b5998;
  }
  
  .fa-twitter {
    color: #1da1f2;
  }
  
  .fa-instagram {
    color: #e4405f;
  }
  
  .fa-linkedin {
    color: #0077b5;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    font-size: 0.8em;
  }
  
  .trigger {
    position: relative;
  }
  
  .root-animation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* make sure the animation is above the image */
  }
  
  .root-frame {
    height: 100%;
    display: block;
    margin: auto;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  }
  
  .animate__animated {
    animation-duration: 0.5s;
  }
  
  .animate__fadeIn {
    opacity: 0;
    animation-name: animate__fadeIn;
  }
  