.feature1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  margin-top: 50px; /* Adjust the margin as needed */
  z-index: 1;
}

.feature1Title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #365e1a;
}

.feature1Description {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  color: #bfa97a;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .feature1 {
    margin-top: 0;
  }
}
