.features3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background-color: #bba97a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .features3 h2 {
    font: ariel;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .features3 p {
    font: ariel;
    font-size: 1rem;
    line-height: 1.5;
    color: #555555;
  }
  
  .features3-box {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .stakeButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }