  /* Footer */
  .footer {
    background-color: #3c2318;
    color: #bba97a;
    padding: 40px 20px;
    position: relative;
    z-index: 1;
  }
  
  .footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contactInfo h3,
  .socialMedia h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .contactInfo p {
    margin: 0;
    font-size: 1.1em;
  }
  
  .socialMediaIcons {
    display: flex;
    justify-content: center;
  }
  
  .socialMediaIcons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  
  .socialMediaIcons a:hover {
    color: #ddd;
  }
  
  .socialMediaIcons i {
    transition: color 0.3s ease-in-out;
  }
  
  .faFacebook {
    color: #3b5998;
  }
  
  .faTwitter {
    color: #1da1f2;
  }
  
  .faInstagram {
    color: #e4405f;
  }
  
  .faLinkedin {
    color: #0077b5;
  }
  
  .footerBottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    font-size: 0.8em;
  }