.textbox {
  font-family: 'Bungee Inline', cursive;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background: #bba97a;
  box-shadow: -10px -10px 10px rgba(245, 245, 245, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.2);
  max-height: 50px;
  &.expanded {
    max-height: 100%;
  }
  position: relative;
  opacity: 0;
  transform: translateX(100%);
  animation-duration: 1s;
  animation-name: fadein;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.textbox h2 {
  font-size: 2rem;
  color: #2b3a27;
  margin-bottom: 1rem;
}

.textbox p {
  font-family: 'Bungee Inline', cursive;
  color: #2b3a27;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.textbox .toggleButton {
  background-color: #365e1a;
  color: #bba97a;
  padding: 0.3rem 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1.2;
  cursor: pointer;
  font-family: 'Bungee Inline', cursive;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-self: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .textbox {
    font-size: 0.1rem;
    max-width: 80%;
    max-height: calc(100% - 250px);
    top: unset;
    left: 0;
    right: 0;
    transform: none;
    margin: 1rem auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
