.stakeButton {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}


.star {
  transition: fill 0.3s ease;
  width: 160px;
  height: 160px;
}

.buttonText {
  font-size: 14px;
  fill: #bba97a;
  transition: fill 0.3s ease;
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -78%);
}
