.stakeButton {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}


.star {
  transition: fill 0.3s ease;
  width: 160px;
  height: 160px;
}

.buttonText {
  font-size: 2px;
  fill: #bba97a;
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  transition: fill 0.3s ease;
}