.stakeButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.stakeButton {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  width: 220px;
  height: 100px;
}

.stakeButton:hover {
  fill: #2b3a27;
}

.buttonText {
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
